.container, .header, .main, .footer {
    display: flex;
    border: 1px solid black;
    border-collapse: collapse;
}
 
.header, .main{
    flex-direction: row;
}
.container{
    flex-direction: column;
}
.content{
    width:1000px;
}
nav, h1, h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#5B9BD5;
    font-weight: 800;
}

.destination{
    border:1px solid black;
    border-collapse: collapse;
    padding:8px;
    width:66%;

}
.destination p{
    font-size: 18px;
    
    
}
.empty{
    width:20px;
    border:1px solid black;
    border-collapse: collapse;
}
.question{
    padding: 8px;
}
label{
    float:left;
    width:130px;
    padding: 8px 0px;
    font-size: 18px;
}
input[type=checkbox]{
    margin: 12px 8px;
}
button{
    margin-top: 40px;
    background-color: #5B9BD5;
    font-size: 14px;
    color: antiquewhite;
    border: #5B9BD5;
    padding: 10px 15px;
    width: 100px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.header{

}
.logo, nav{
    border:1px solid black;
}