
*{
    font-family: 'Lora', serif;
    list-style: none;
}
body {
   
    margin: 0;
    padding: 0;
    background: #51815dc2;
}
table,th,tr{
    border:1px solid #f1f1f1;
}
th{
    width:150px;
}
h1{
    text-align: center;
    font-size: 52px;
    color:#f1f1f1;
    margin-bottom:70px;
}
table{
    margin-left:auto;
    margin-right:auto;
}