*{
    font-family: 'Lora', serif;
    list-style: none;
  }
  body {
   
    margin: 0;
    padding: 0;
    position: relative;
    background: #bd9244c2;
  
  }
  /*#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #f1f1f1;
  }*/
  
  header{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7e6;
    padding: 15px 12px;
  }
  .navbar{
    display: flex;
  
  }
  .navbar a, .navbar li span{
    font-size: 25px;
    font-weight: 600;
    padding:10px 0;
    margin:0px 30px;
    margin-right: 80px;
    text-decoration: none;
    color:#99692b;
  
  
  }
  .navbar input{
    margin-right:20px;
  }
  .navbar li span{
    font-size: 20px;
    margin-right: 5px;
  }
  #header h1 {
    margin: 0;
  }
  .logo {
    font-weight: bold;
    font-size: 38px;
    margin-left: 15px;
    color:#99692b;
    text-decoration: none;
    letter-spacing: 2px;
  }
  #search-field {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
  
  #main {
    text-align: center;
    margin-top: 50px;
  }
  .container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1000x;
    align-items: center;
    flex-wrap: wrap;
  }
  .review-box{
    display: flex;
    flex-direction: column;
  }
  .info{
    display: flex;
    flex-direction: column;
  
  }
  .info p{
    color:#f1f1f1;
    margin-top:-20px;
    font-size: 15px;
  }
  .info .big-info{
    color:#f1f1f1;
    margin-top:-20px;
    font-size: 28px;
    text-decoration:none;
  }
  .box {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #f1f1f1;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 150px;
    border:solid 1px;
  }
  .box span {
    font-size: 24px;
  }
  #back-button {
    padding: 10px 20px;
    margin-right: 20px;
    font-size: 16px;
    background-color: #003b02;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  #back-button:hover {
    background-color: #0d8200;
  }
  
  #search-btn {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #0000009f;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #search-btn:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
      #search-btn {
      padding: 0.25em 0.75em;
    }
  }
  h3{
    color:#f1f1f1;
    margin:80px 0px;
    font-size: 30px;
    text-align: center;
  }