*{
    font-family: 'Lora', serif;
    list-style: none;
}
body {
   
    margin: 0;
    padding: 0;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
/*#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #f1f1f1;
}*/

header{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 15px 12px;
}
.navbar{
    display: flex;

}
.navbar a{
    font-size: 25px;
    font-weight: 600;
    padding:10px 0;
    margin:0px 30px;
    margin-right: 80px;
    text-decoration: none;
    color:#7c8379;


}
#header h1 {
    margin: 0;
}
.logo {
    font-weight: bold;
    font-size: 38px;
    margin-left: 15px;
    color:#7c8379;
    text-decoration: none;
    letter-spacing: 2px;
}
@media (max-width:1280px){
    header{
        padding: 14px 2%;

    }
    .navbar a{
        padding: 10px 0;
        margin:0px 30px;
    }
}
@media (max-width:800px){
    .navbar{
        position:absolute;
        top:100%;
        right:2%;
        width: 270px;
        height: 29vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        
    }
}
/*#login-btn,
#register-btn {
    padding: 11px 27px;
    margin-right:25px;
    font-size: 18px;
    background-color: #567457;
    color: #d8e2d4;
    text-decoration: none;
    border-radius: 4px;
}*/

#login-btn {
    padding: 11px 35px;
}
#main {
    text-align: center;
    margin-top: 200px;
    min-height: 600px;

}
#main h1{
    font-size: 42px;
    color:#d8e2d4;
    padding-bottom: 50px;
}
.box {
    display: inline-block;
    width: 230px;
    height: 230px;
    background-color: #f1f1f1;
    margin: 60px;
    border-radius: 10px;
    
}
.box span {
    font-size: 24px;
    display: block;
    margin-top: 100px;
    /* Adjust the font size as needed */

}
.more-reviews:link {
    margin-top: 20px;
    font-size: 24px;
    color:#f1f1f1;
    text-decoration:underline;
    font-weight: 500;
}
.more-reviews:visited{
    color:#000000;
}